// Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

$font-primary: 'Open Sans';
$font-secondary: 'Roboto Slab';

// Colors
$color-primary: #0A4056;
$color-secondary: #D8AE2A;
$color-tertiary: #561d13;
